<div class="navbar navbar-expand-sm navbar-light navbar-lewagon navbar-custom">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://cdn.icon-icons.com/icons2/1954/PNG/512/popcornfood_122741.png" />
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
                <%= link_to 'My lists', lists_path, class: 'nav-link nav-link-white' %>
            <%# <a class="nav-link" href="#">My lists</a> %>
          </li>
          <li class="nav-item">
                <%= link_to 'New list', new_list_path, class: 'nav-link nav-link-white' %>
          </li>
          <li class="nav-item dropdown">
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a>
            </div>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>


<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1536440136628-849c177e76a1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1625&q=80)">
  <h1>Save any kinds of movies</h1>
</div>

<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col">
      <div class="title-container">
        <h1 class="title">My lists</h1>
      </div>
      <div class="card-container d-flex justify-content-between">
        <% @lists.each_with_index do |list, index| %>
          <div class="card-cat" style="background-image: url('/assets/imageslists/<%= @background_images[index] %>');">
            <%= link_to list.name, list_path(list), style: 'text-decoration: none; color: white;' %>
          </div>
        <% end %>
        <div class="button-add">
          <%= link_to 'Add a List', new_list_path, class: 'btn btn-dark' %>
        </div>
      </div>
    </div>
  </div>
</div>
