<div class="navbar navbar-expand-sm navbar-light navbar-lewagon navbar-custom">
  <div class="container-fluid">
    <%= link_to lists_path, class: 'navbar-brand' do %>
      <%= image_tag('https://cdn.icon-icons.com/icons2/1954/PNG/512/popcornfood_122741.png') %>
<% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
                <%= link_to 'My lists', lists_path, class: 'nav-link nav-link-white' %>
            <%# <a class="nav-link" href="#">My lists</a> %>
          </li>
          <li class="nav-item">
                <%= link_to 'New list', new_list_path, class: 'nav-link nav-link-white' %>
          </li>
          <li class="nav-item dropdown">
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a>
            </div>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>

<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1536440136628-849c177e76a1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1625&q=80)">
  <h1><%= @list.name %></h1>
</div>

<div class="button-add text-end mt-2"> <!-- Ajoutez la classe mt-2 pour une marge supérieure -->
  <%= link_to 'Add a Movie', new_bookmark_path(@list), class: 'btn btn-dark' %>
</div>

<div class="card-movies">
  <div class="row my-2">
    <% @list.movies.each do |movie| %>
      <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
      <div class="col-6 col-lg-4 mb-4" data-aos="zoom-in">
        <div class="bg-white rounded shadow h-100">
          <%= image_tag movie.poster_url, alt: movie.title, class: "movie-img rounded-top" %>
          <div class="p-3 rounded-bottom d-flex flex-column">
            <strong class="movie-title"><%= movie.title %> <span class="text-muted font-weight-normal">• <%= movie.rating %> <i class="fas fa-star star-yellow"></i></span></strong>
            <small class="text-muted"><%= movie.overview %></small>
            <div class="d-flex align-items-end justify-content-between pt-4">
              <div>
                <small class="flex-grow-1 bookmark-text"><strong><%= bookmark.comment %></strong></small>
              </div>
              <small class="text-right flex-shrink-0">
                <%= link_to "delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{movie.title} from your #{@list.name} list"}, class: 'text-danger' %>
              </small>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
