<h1>List Details</h1> 

<p>Name: <%= @list.name %></p>

<!-- Afficher les autres informations de la liste si nécessaire -->

<!-- Afficher les films de la liste -->
<h2>Movies in the List:</h2>
<ul>
  <% @list.movies.each do |movie| %>
    <li><%= movie.title %></li>
  <% end %>
</ul>

<!-- Lien vers le formulaire de création de signet -->
<%= link_to 'Add a new Bookmark', new_bookmark_path(@list) %>

<!-- Liste des signets existants -->
<h2>Bookmarks:</h2>
<ul>
<% @list.bookmarks.each do |bookmark| %>
  <li>
    <%= bookmark.movie.title %> - <%= bookmark.comment %>

    <%= form_with url: bookmark_path(bookmark.id), method: :delete, local: true do %>
  <%= submit_tag 'Supprimer' %>
<% end %>
  </li>
<% end %>
</ul>
